.tab-bar {
    position        : fixed;
    width           : 100%;
    bottom          : 0;
    display         : flex;
    justify-content : space-around;
    background-color: rgba(255, 255, 255, .3);
z-index: 12;
    transition: all .6s;
    
    .tab-bar__items {
        display       : flex;
        flex-direction: column;
        padding       : 20px 0;
        text-align    : center;
width: 120px;
        .icon {
            font-size: 42px;
        }

        .text {
            font-size: 28px;
        }
    }

    .active {
        color: #ff7e35;
    }
}

.show {
    transform: translateY(0%)
}

.hide {
    transform: translateY(100%) !important;
}