.index {
    height: 100%;

    .bg {
        position: fixed;
        top     : 0;
        width   : 100%;
        height  : 100%;
        z-index : -1;
    }
.input{
    border: 1px solid #ccc;
    width: 670px;
    height: 60px;
    border-radius: 30px;
padding-left: 30px;
    margin: 150px auto 20px;
}
    .store {
        display    : flex;
        height     : 100%;

        .store__left {
            height          : 100%;
            background-color: #eee;
            position        : relative;

            .store__left__item {
                width      : 160px;
                text-align : center;
                color      : #888;
                font-size  : 28px;
                height     : 70px;
                line-height: 70px;
                transition : all .4s;
            }

            .left-active {
                font-size       : 30px;
                font-weight     : 600;
                color           : #333;
                background-color: #fff;
            }

            .line {
                display         : inline-block;
                position        : absolute;
                top             : 15px;
                width           : 6px;
                height          : 38px;
                background-color: #ff7e35;
                transition      : all .4s;
            }

        }

        .store__right {
            margin-left: 15px;
overflow: scroll;
            .store__right__item {
                background-color: #fff;
                display         : flex;
                padding         : 30px 0;
                border-bottom   : 1px solid #f4f4f4;
                position        : relative;

                .img {
                    width : 200px;
                    height: 160px;
                }

                .content {
                    margin-left: 20px;

                    .title {
                        font-size  : 30px;
                        margin-left: -10px;
                        color      : #000;
                    }

                    .desc {
                        padding  : 10px 0;
                        font-size: 24px;
                        color    : #999;
                    }

                    .price {
                        font-size: 30px;
                        color    : #ff7e35;
                    }

                    .original {
                        font-size      : 26px;
                        color          : #888;
                        text-decoration: line-through;
                    }
                }

                .count {
                    position: absolute;
                    left   : 405px;
                    top     : 150px;
                    color: #888;
                    .count_icon{
font-size: 30px;
color: #1ed3f3;
                    }
                    .count_icon:nth-of-type(1){
                        color: #aaa;
                    }
                    .count_text{
                        color: #444;
                        padding: 0 15px;
                    }
                }

            }
        }
    }
}