@font-face {
    font-family: 'iconfont';  /* project id 1622865 */
    src: url('//at.alicdn.com/t/font_1622865_ihl3vxvkol.eot');
    src: url('//at.alicdn.com/t/font_1622865_ihl3vxvkol.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1622865_ihl3vxvkol.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1622865_ihl3vxvkol.woff') format('woff'),
    url('//at.alicdn.com/t/font_1622865_ihl3vxvkol.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1622865_ihl3vxvkol.svg#iconfont') format('svg');
  }
  .iconfont{
    font-family:"iconfont" !important;
    font-size:24px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
